* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  max-width: 1200px;
  margin: auto;
}

.section {
  background: linear-gradient(to right, white, lightblue);
  width: 100%;
  height: 700px;
  padding-top: 10px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.288);
  display: flex;
  gap: 30px;
}
.navbar h2 {
  font-weight: lighter;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 20px;
}
.navbar .y1 {
  color: aqua;
}
.navbar .y2 {
  color: red;
}
.navbar p {
  color: #22253B;
  font-size: 14px;
  padding-top: 15px;
  font-weight: bold;
}
.navbar h5 {
  color: #22253B;
  font-size: 14px;
  padding-top: 15px;
  font-weight: bold;
  padding-left: 300px;
}
.navbar button {
  background-color: #38BFF2;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 45px;
}

.txtsection {
  padding-top: 10%;
}
.txtsection h1 {
  color: #22253B;
  line-height: 1.2;
  font-weight: 500;
}
.txtsection .symb {
  color: #F15525;
}
.txtsection .prog {
  font-weight: bold;
}
.txtsection p {
  color: #22253B;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.3;
}
.txtsection button {
  background-color: #F15525;
  color: white;
  width: 220px;
  height: 44px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.37);
}
.txtsection .img1 {
  margin-left: 700px;
  margin-top: -300px;
}

.headerph {
  display: none;
}

.header2 {
  max-width: 1200px;
  margin: auto;
}

.section2 {
  width: 100%;
  height: 700px;
  background-color: white;
}

.txtsection2 {
  padding-top: 10%;
}
.txtsection2 h1 {
  color: #22253B;
  font-weight: bold;
  text-align: center;
}
.txtsection2 .box1 {
  margin-top: 50px;
  width: 100%;
  height: 450px;
  background-color: #EAF2F5;
  border-radius: 40px;
}
.txtsection2 .guy {
  padding-left: 80px;
  padding-top: 95px;
}
.txtsection2 .buttons {
  margin-left: 600px;
  margin-top: -300px;
}
.txtsection2 .but1 {
  color: white;
  background-color: #5096FF;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .but2 {
  color: white;
  background-color: #FFB359;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .buttons2 {
  margin-left: 600px;
  margin-top: 10px;
}
.txtsection2 .but3 {
  color: white;
  background-color: #FF6F50;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .but4 {
  color: white;
  background-color: #4BD071;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .but5 {
  color: white;
  background-color: #38BFF2;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .but6 {
  color: white;
  background-color: #4B77B9;
  width: 82px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 .but7 {
  color: white;
  background-color: #AF93FF;
  width: 83px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
.txtsection2 p {
  color: #22253B;
  font-size: 19px;
  font-weight: 600;
  margin-left: 600px;
  margin-top: 20px;
  line-height: 1.5;
}

.header2ph {
  display: none;
}

.header3 {
  max-width: 1200px;
  margin: auto;
}

.section3 {
  width: 100%;
  height: 500px;
}

.txtsection3 {
  padding-top: 5%;
}
.txtsection3 h1 {
  color: #22253B;
  font-weight: bold;
  text-align: center;
}
.txtsection3 .boxes {
  display: flex;
  gap: 30px;
  padding-top: 3%;
  justify-content: center;
}
.txtsection3 .boxes .box1 {
  background-color: #EAF2F5;
  width: 250px;
  height: 220px;
  border-radius: 20px;
}
.txtsection3 .boxes .box1 .svgs {
  margin-left: 95px;
  margin-top: 30px;
}
.txtsection3 .boxes .box1 h4 {
  color: #22253B;
  text-align: center;
  padding-bottom: 10px;
}
.txtsection3 .boxes .box1 p {
  color: #22253B;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.txtsection3 .boxes2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.txtsection3 .boxes2 .box2 {
  width: 250px;
  height: 220px;
  background-color: #EAF2F5;
  border-radius: 20px;
}
.txtsection3 .boxes2 .box2 .svgs {
  margin-left: 95px;
  margin-top: 30px;
}
.txtsection3 .boxes2 .box2 h4 {
  color: #22253B;
  text-align: center;
  padding-bottom: 10px;
}
.txtsection3 .boxes2 .box2 p {
  color: #22253B;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.header3ph {
  display: none;
}

.header4 {
  max-width: 1200px;
  margin: auto;
}
.header4 .section4 {
  width: 100%;
  height: 900px;
  background: linear-gradient(to top, lightblue, white);
}

.txtsection4 {
  margin-top: 200px;
}
.txtsection4 h1 {
  color: #22253B;
  font-weight: bold;
  text-align: center;
}
.txtsection4 p {
  color: #22253B;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}
.txtsection4 .mac {
  width: 500px;
  display: flex;
  justify-self: center;
  margin-top: 80px;
}
.txtsection4 .box1 {
  display: flex;
  justify-self: center;
  width: 90%;
  height: 280px;
  background-color: white;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.26);
}
.txtsection4 .box1 h1 {
  color: #38BFF2;
  font-size: 80px;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 30px;
}
.txtsection4 .box1 h2 {
  color: #22253B;
  font-size: 20px;
  font-weight: 600;
  padding-top: 120px;
  margin-left: -90px;
}
.txtsection4 .box1 p {
  color: #22253B;
  font-size: 16px;
  font-weight: 500;
  padding-top: 180px;
  margin-left: -220px;
}
.txtsection4 .box1 .zer {
  margin-left: 160px;
}
.txtsection4 .box1 .zer2 {
  margin-left: 160px;
}
.txtsection4 .lilbox {
  background-color: white;
  width: 30%;
  height: 55px;
  justify-self: center;
  margin-top: 35px;
  border-radius: 30px;
}
.txtsection4 .lilbox button {
  background-color: #F15525;
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 30px;
  margin-top: 7px;
  margin-left: 7px;
}
.txtsection4 .lilbox p {
  color: #22253B;
  font-size: 12px;
  margin-left: 150px;
  margin-top: -40px;
}

.header4ph {
  display: none;
}

.header5 {
  max-width: 1200px;
  margin: auto;
}
.header5 .section5 {
  width: 100%;
  height: 550px;
}
.header5 .section5 .txtsection5 {
  padding-top: 9%;
  padding-bottom: 3%;
}
.header5 .section5 .txtsection5 .boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.header5 .section5 .txtsection5 .boxes .box {
  background-color: #EAF2F5;
  width: 280px;
  height: 230px;
  border-radius: 30px;
}
.header5 .section5 .txtsection5 .boxes .box .ppl1 {
  width: 67%;
  margin-left: 40px;
  margin-top: 35px;
}
.header5 .section5 .txtsection5 .boxes .box2 {
  background-color: #EAF2F5;
  width: 600px;
  height: 230px;
  border-radius: 30px;
}
.header5 .section5 .txtsection5 .boxes .box2 h1 {
  color: #22253B;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 28px;
}
.header5 .section5 .txtsection5 .boxes .box2 p {
  color: #22253B;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 15px;
  margin-left: 40px;
  line-height: 1.4;
}

.header5ph {
  display: none;
}

@media (max-width: 500px) {
  .header {
    display: none;
  }
  .headerph {
    display: block;
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
  }
  .sectionph {
    width: 100%;
    height: 750px;
    background: linear-gradient(to bottom, white, lightblue);
  }
  .navbarph {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.288);
    display: flex;
    gap: 60px;
  }
  .navbarph h2 {
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
  }
  .navbarph .y1 {
    color: aqua;
  }
  .navbarph .y2 {
    color: red;
  }
  .navbarph button {
    color: white;
    background-color: #38BFF2;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .txtsectionph {
    padding-top: 10%;
    text-align: center;
  }
  .txtsectionph h1 {
    color: #22253B;
    line-height: 1.2;
    font-weight: 500;
    font-size: 30px;
  }
  .txtsectionph .symb {
    color: #F15525;
  }
  .txtsectionph .prog {
    font-weight: bold;
  }
  .txtsectionph p {
    color: #22253B;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.3;
  }
  .txtsectionph button {
    background-color: #F15525;
    color: white;
    max-width: 400px;
    height: 80px;
    border: none;
    border-radius: 60px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.37);
    font-size: 24px;
    font-weight: 400;
  }
  .txtsectionph .pc1 {
    text-align: center;
  }
  .txtsectionph .img1 {
    max-width: 64%;
    margin-top: 20px;
  }
  .header2 {
    display: none;
  }
  .header2ph {
    display: block;
    max-width: 500px;
    margin: auto;
  }
  .section2ph {
    width: 100%;
    height: 400px;
  }
  .txtsection2ph {
    padding-top: 10%;
    text-align: center;
  }
  .txtsection2ph h1 {
    color: #22253B;
    font-weight: 600;
  }
  .txtsection2ph .box1ph {
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 10px;
    width: 95%;
    height: 330px;
    background-color: #EAF2F5;
    border-radius: 30px;
  }
  .txtsection2ph .box1ph .but1 {
    color: white;
    background-color: #5096FF;
    max-width: 300px;
    min-width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  }
  .txtsection2ph .box1ph .buttons2 {
    margin-top: 15px;
  }
  .txtsection2ph .box1ph .but2 {
    color: white;
    background-color: #FFB359;
    max-width: 130px;
    min-width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  }
  .txtsection2ph .box1ph .but3 {
    color: white;
    background-color: #FF6F50;
    max-width: 165px;
    min-width: 165px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  }
  .txtsection2ph .box1ph .but4 {
    color: white;
    background-color: #4BD071;
    max-width: 300px;
    min-width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
  }
  .txtsection2ph .box1ph .buttons3 {
    margin-top: 15px;
  }
  .txtsection2ph .box1ph .but5 {
    color: white;
    background-color: #38BFF2;
    max-width: 300px;
    min-width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 20px;
  }
  .txtsection2ph .box1ph .but6 {
    color: white;
    background-color: #4B77B9;
    max-width: 145px;
    min-width: 145px;
    height: 50px;
    border-radius: 30px;
    border: none;
  }
  .txtsection2ph .box1ph .but7 {
    color: white;
    background-color: #AF93FF;
    height: 50px;
    max-width: 145px;
    min-width: 145px;
    border-radius: 30px;
    border: none;
  }
  .header3 {
    display: none;
  }
  .header3ph {
    display: block;
    max-width: 500px;
    margin: auto;
  }
  .section3ph {
    width: 90%;
    height: 500px;
  }
  .txtsection3ph {
    padding-top: 40%;
  }
  .txtsection3ph h1 {
    color: #22253B;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
  }
  .txtsection3ph .boxesph {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-left: 5px;
  }
  .txtsection3ph .boxesph .box1ph {
    min-width: 150px;
    max-width: 150px;
    height: 260px;
    background-color: #EAF2F5;
    border-radius: 30px;
    margin-bottom: 10px;
  }
  .txtsection3ph .boxesph .box1ph .svgph {
    margin-left: 50px;
    padding-top: 10px;
  }
  .txtsection3ph .boxesph .box1ph h4 {
    margin-top: 15px;
    color: #22253B;
    text-align: center;
  }
  .txtsection3ph .boxesph .box1ph p {
    margin-top: 10px;
    color: #22253B;
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.5;
  }
  .txtsection3ph .boxes2ph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .txtsection3ph .boxes2ph .box2ph {
    background-color: #EAF2F5;
    max-width: 300px;
    height: 150px;
    border-radius: 20px;
  }
  .txtsection3ph .boxes2ph .svgph2 {
    margin-left: 90px;
  }
  .txtsection3ph .boxes2ph h4 {
    margin-top: 15px;
    color: #22253B;
    text-align: center;
  }
  .txtsection3ph .boxes2ph p {
    margin-top: 5px;
    color: #22253B;
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.5;
  }
  .header4 {
    display: none;
  }
  .header4ph {
    display: block;
    max-width: 500px;
    margin: auto;
  }
  .header4ph .section4ph {
    background: linear-gradient(to top, lightblue, white);
    width: 100%;
    height: 1490px;
  }
  .header4ph .section4ph .txtsection4ph {
    padding-top: 10%;
  }
  .header4ph .section4ph .txtsection4ph h1 {
    margin-top: 20px;
    color: #22253B;
    text-align: center;
    font-size: 30px;
  }
  .header4ph .section4ph .txtsection4ph p {
    margin-top: 20px;
    color: #22253B;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    padding-bottom: 20px;
  }
  .header4ph .section4ph .txtsection4ph .macb {
    width: 300px;
    display: flex;
    justify-self: center;
  }
  .header4ph .section4ph .txtsection4ph .boxes {
    background-color: white;
    width: 90%;
    height: 250px;
    justify-self: center;
    margin-top: 20px;
    border-radius: 30px;
  }
  .header4ph .section4ph .txtsection4ph .boxes h1 {
    color: #5096FF;
    font-weight: 600;
    font-size: 40px;
    padding-top: 10px;
    margin-left: -270px;
  }
  .header4ph .section4ph .txtsection4ph .boxes h4 {
    color: #22253B;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
  .header4ph .section4ph .txtsection4ph .boxes p {
    color: #22253B;
    font-size: 16px;
    font-weight: lighter;
    margin-left: -50px;
  }
  .header4ph .section4ph .txtsection4ph .lilbox {
    background-color: white;
    width: 90%;
    height: 150px;
    justify-self: center;
    margin-top: 20px;
    border-radius: 30px;
  }
  .header4ph .section4ph .txtsection4ph .lilbox button {
    background-color: #F15525;
    color: white;
    width: 70%;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .header4ph .section4ph .txtsection4ph .lilbox p {
    color: #22253B;
    font-size: 18px;
  }
  .header5 {
    display: none;
  }
  .header5ph {
    display: block;
    max-width: 500px;
    margin: auto;
  }
  .header5ph .section5ph {
    width: 100%;
    height: 550px;
  }
  .header5ph .section5ph .txtsection5ph {
    padding-top: 9%;
  }
  .header5ph .section5ph .txtsection5ph .boxesph {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .header5ph .section5ph .txtsection5ph .boxesph .boxph {
    background-color: #EAF2F5;
    width: 90%;
    height: 300px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header5ph .section5ph .txtsection5ph .boxesph .boxph .imgph {
    width: 70%;
  }
  .header5ph .section5ph .txtsection5ph .boxesph .boxph2 {
    background-color: #EAF2F5;
    width: 90%;
    height: 330px;
    border-radius: 30px;
  }
  .header5ph .section5ph .txtsection5ph .boxesph .boxph2 h1 {
    color: #22253B;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .header5ph .section5ph .txtsection5ph .boxesph .boxph2 p {
    color: #22253B;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 1.4;
  }
}/*# sourceMappingURL=style.css.map */