*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    max-width: 1200px;
    margin: auto;
}
.section{
    background: linear-gradient(to right, white, lightblue);
    width: 100%;
    height: 700px;
    padding-top: 10px;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.288);
    display: flex;
    gap: 30px;
    h2{
        font-weight: lighter;
        margin-left: 10px;
        padding-top: 10px;
        padding-right: 20px;
    }
    .y1{
        color: aqua;
    }
    .y2{
        color: red;
    }
    p{
        color: #22253B;
        font-size: 14px;
        padding-top: 15px;
        font-weight: bold;
    }
    h5{
        color: #22253B;
        font-size: 14px;
        padding-top: 15px;
        font-weight: bold;
        padding-left: 300px;
    }
    button{
        background-color: #38BFF2;
        color: white;
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 30px;
        margin-top: 5px;
        margin-left: 45px;
    }
}
.txtsection{
    padding-top: 10%;
    h1{
        color: #22253B;
        line-height: 1.2;
        font-weight: 500;
    }
    .symb{
        color: #F15525;
    }
    .prog{
        font-weight: bold;
    }
    p{
        color: #22253B;
        font-size: 15px;
        font-weight: 500;
        margin-top: 20px;
        line-height: 1.3;
    }
    button{
        background-color: #F15525;
        color: white;
        width: 220px;
        height: 44px;
        border: none;
        border-radius: 30px;
        margin-top: 20px;
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.37);
    }
    .img1{
        margin-left: 700px;
        margin-top: -300px;
    }
}
.headerph{
    display: none;
}
.header2{
    max-width: 1200px;
    margin: auto;
}
.section2{
    width: 100%;
    height: 700px;
    background-color: white;
}
.txtsection2{
    padding-top: 10%;
    h1{
        color: #22253B;
        font-weight: bold;
        text-align: center;
    }
    .box1{
        margin-top: 50px;
        width: 100%;
        height: 450px;
        background-color: #EAF2F5;
        border-radius: 40px;
    }
    .guy{
        padding-left: 80px;
        padding-top: 95px;
    }
    .buttons{
        margin-left: 600px;
        margin-top: -300px;
    }
    .but1{
        color: white;
        background-color: #5096FF;
        width: 250px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .but2{
        color: white;
        background-color: #FFB359;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .buttons2{
        margin-left: 600px;
        margin-top: 10px;
    }
    .but3{
        color: white;
        background-color: #FF6F50;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .but4{
        color: white;
        background-color: #4BD071;
        width: 220px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .but5{
        color: white;
        background-color: #38BFF2;
        width: 220px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .but6{
        color: white;
        background-color: #4B77B9;
        width: 82px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .but7{
        color: white;
        background-color: #AF93FF;
        width: 83px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    p{
        color: #22253B;
        font-size: 19px;
        font-weight: 600;
        margin-left: 600px;
        margin-top: 20px;
        line-height: 1.5;
    }
}
.header2ph{
    display: none;
}

@media (max-width: 500px) {
    .header{
        display: none;
    }
    .headerph{
        display: block;
        max-width: 500px;
        margin: auto;
        padding-top: 10px;
    }
    .sectionph{
        width: 100%;
        height: 750px;
        background: linear-gradient(to bottom, white, lightblue);
    }
    .navbarph{
        width: 100%;
        height: 50px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.288);
        display: flex;
        gap: 60px;
        h2{
            font-weight: 500;
            margin-top: 10px;
            margin-left: 10px;
        }
        .y1{
            color: aqua;
        }
        .y2{
            color: red;
        }
        button{
            color: white;
            background-color: #38BFF2;
            border: none;
            border-radius: 30px;
            width: 100px;
            height: 40px;
            margin-left: 50px;
            margin-top: 5px;
        }
    }
        .txtsectionph{
            padding-top: 10%;
            text-align: center;
        h1{
            color: #22253B;
            line-height: 1.2;
            font-weight: 500;
            font-size: 30px;
        }
        .symb{
            color: #F15525;
        }
        .prog{
            font-weight: bold;
        }
        p{
            color: #22253B;
            font-size: 15px;
            font-weight: 500;
            margin-top: 20px;
            line-height: 1.3;
        }
        button{
        background-color: #F15525;
        color: white;
        max-width: 400px;
        height: 80px;
        border: none;
        border-radius: 60px;
        margin-top: 20px;
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.37);
        font-size: 24px;
        font-weight: 400;
        }
        .pc1{
            text-align: center;
        }
        .img1{
            max-width: 64%;
            margin-top: 20px;
        }
        }
        .header2{
            display: none;
        }
        .header2ph{
            display: block;
            max-width: 500px;
            margin: auto;
        }
        .section2ph{
            width: 100%;
            height: 400px;
        }
        .txtsection2ph{
        padding-top: 10%;
        text-align: center;
        h1{
            color: #22253B;
            font-weight: 600;
        }
        .box1ph{
            margin-top: 40px;
            padding-top: 20px;
            margin-left: 10px;
            width: 95%;
            height: 330px;
            background-color: #EAF2F5;
            border-radius: 30px;
            .but1{
            color: white;
            background-color: #5096FF;
            max-width: 300px;
            min-width: 300px;
            height: 50px;
            border: none;
            border-radius: 30px;
            font-size: 18px;
            }
            .buttons2{
                margin-top: 15px;
            }
            .but2{
                color: white;
                background-color: #FFB359;
                max-width: 130px;
                min-width: 130px;
                height: 50px;
                border: none;
                border-radius: 30px;
                font-size: 18px;
            }
            .but3{
                color: white;
                background-color: #FF6F50;
                max-width: 165px;
                min-width: 165px;
                height: 50px;
                border: none;
                border-radius: 30px;
                font-size: 18px;
            }
            .but4{
                color: white;
                background-color: #4BD071;
                max-width: 300px;
                min-width: 300px;
                height: 50px;
                border: none;
                border-radius: 30px;
                font-size: 18px;
            }
            .buttons3{
                margin-top: 15px;
            }
            .but5{
                color: white;
                background-color: #38BFF2;
                max-width: 300px;
                min-width: 300px;
                height: 50px;
                border: none;
                border-radius: 30px;
                font-size: 18px;
                margin-top: 20px;
            }
        .but6{
        color: white;
        background-color: #4B77B9;
        max-width: 145px;
        min-width: 145px;
        height: 50px;
        border-radius: 30px;
        border: none;
    }
    .but7{
        color: white;
        background-color: #AF93FF;
        height: 50px;
        max-width: 145px;
        min-width: 145px;
        border-radius: 30px;
        border: none;
    }
            }
        }
}